<h1 class="fs-1">"{{barchabemorlarsoni.yangiFoydalanuvchiIsmi}}" Ismi bemor ma'lumotlari </h1>
<form action="/edit-bemor/{{barchabemorlarsoni._id}}" method="post">
    <div>
        <img src="https://dichvuchuyennhatrongoi.org/wp-content/uploads/2020/07/business-male-icon-vector_4187852-1.png"
            alt="">
    </div>
    <p>Ismi: "{{barchabemorlarsoni.yangiFoydalanuvchiIsmi}}"</p>
    <p>Familiyasi: "{{barchabemorlarsoni.yangiFoydalanuvchiFamilyasi}}"</p>
    <p>Telefon raqam: "{{barchabemorlarsoni.yangiFoydalanuvchitelefonRaqami}}"</p>
    <p>Yoshi: "{{barchabemorlarsoni.yangifoydalanuvchiYoshi}}"</p>
    <p>Jinsi: "{{barchabemorlarsoni.selectOptionJins}}"</p>
    <p>Yashash manzili: "{{barchabemorlarsoni.yashashManzili}}"</p>
    <p>Batafsil ma`lumot: "{{barchabemorlarsoni.batafsilMalumot}}"</p>
    <a type="button" class="add_user" href="/products">Orqaga qaytish</a>
</form>
<style>
    body {
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .add_user {
        border-radius: 5px;
        padding: 8px 25px;
        border: none;
        background: transparent;
        background: #271E4A;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        border: 2px solid transparent;
        transition: .4s ease-in-out;
        text-decoration: none;
    }

    form {
        background: white;
        width: 100%;
        padding: 32px 5px;
        border-radius: 47px;
        box-shadow: 0px 4px 15px 0px rgba(216, 210, 252, 0.64);
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
</style>